body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color:lightblue;*/
  background-image: linear-gradient(to right, #EDB448 , #eebb5a );
  /*
  background-image: url("./background2.png");
  background-repeat: repeat;
  background-size: 500px 500px;
  background-position: -150px -150px;*/
  /*Hides scrollbar and makes it non scrollable*/

    height:100%;
}


.lightshade-bg{
  background-color:#EFF4EE;
}

.darkshade-text{
  color:#0C1314;
}

.darkaccent-bg{
  background-color:#AD504D;
}

.darkaccent-text{
  color:#AD504D;
}






.container:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.card-border{
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  border-color:lightgray;


}


.bs-button{

  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color:#EFF4EE;
  color:#AD504D;
}

.only-mobile{
  display:none
}

@media (max-width: 800px) {
  .only-mobile{
    display:block;
    width:100vw;
    height:100vh;
    position:fixed;
    background-color:white;
  }
}
.shadow_test{
  box-shadow: 1px -1px #EFF4EE, 2px -2px #EFF4EE, 3px -3px #EFF4EE, 4px -4px #EFF4EE, 5px -5px #EFF4EE, 6px -6px #EFF4EE, 7px -7px #EFF4EE, 8px -8px #EFF4EE;
  /*-webkit-transform: translateX(-8px) translateY(8px);
  transform: translateX(-8px) translateY(8px);*/

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.shadow_test_2{
  filter:drop-shadow(1px -1px #EFF4EE) /*drop-shadow(2px -3px #3e3e3e) drop-shadow(3px -4px #3e3e3e)*/;

  /*
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;*/
  /*-webkit-transform: translateX(-8px) translateY(8px);
  transform: translateX(-8px) translateY(8px);*/

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.chevron {
  position: relative;
  text-align: center;

  margin-bottom: 3px;
  height: 2px;
  width: 20px;

}
.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: white;
  transform: skew(0deg, 40deg);
  background-color:#AD504D;
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -40deg);
  background-color:#AD504D;
}

.bottom {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.outer {
  display: table;
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {/*
  float:left;*/

  /*
  margin-left: auto;
  margin-right: auto;
  width: 400px;*/
  /*whatever width you want*/
}

.center_content_parent{
/*
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;*/
  position: absolute;
  top: 45%;
  left: 50%;

}


.center_content{
  transform: translateX(-50%) translateY(-50%);/*
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;*/
  /*
  bottom: 50%;
  left: 50%;
  width: 200px;
  position: relative;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.SlideIn-appear {
  will-change:transform;

  animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}



.SlideIn-leave {
  will-change:transform;
  animation: slide-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.SlideIn-leave-active {
  will-change:transform;
  animation: slide-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  @extend .transformZ;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  @extend .transformZ;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    @extend .transformZ;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}





.SlideOut-appear {
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  @extend .transformZ;
  opacity: 0;
}

.SlideOut-appear.SlideOut-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);

  transition: all 1.0s linear;
}
.SlideOut-enter {
@extend .transformZ;
  opacity: 0;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
}

.transformZ {
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.SlideOut-enter.SlideOut-enter-active {
  @extend .transformZ;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);

  transition: all 1.0s linear;
}
.SlideOut-leave {
@extend .transformZ;
  opacity: 1.0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
}
.SlideOut-leave.SlideOut-leave-active {
@extend .transformZ;
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -o-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transition: all 1.0s linear;
}